
<body>
    <header>
        <h1>Acerca de Mí</h1>
    </header>

    <main>
       <div class="card">
            <h2>Datos del creador</h2><br>
            <ul>
                <li><strong>Nombre:</strong> María Eugenia Luna</li>
                <li><strong>Correo:</strong>eugeluna01@gmail.com</li>
                <li><strong>Curso:</strong> Diplomatura en desarrollo web FullStack con JavaScript</li>
                <li><strong>Sprint:</strong> Sprint 5</li>
                <li><strong>Fecha:</strong> 29 de agosto de 2025</li>
            </ul>
        </div>
    </main>
    <br><br><br><br><br>
</body>
