<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Acerca de</h1>
    </header>

    <main>
       <section>
            <h2>Datos del creador</h2><br>
            <ul>
                <li><strong>Nombre:</strong> María Eugenia Luna</li>
                <li><strong>Correo:</strong>eugeluna01@gmail.com</li>
                <li><strong>Curso:</strong> Diplomatura en desarrollo web FullStack con JavaScript</li>
                <li><strong>Sprint:</strong> Sprint 5</li>
                <li><strong>Fecha:</strong> 29 de agosto de 2025</li>
            </ul>
        </section>
    </main>
    <br><br><br><br><br>
</body>
</html>