<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paises</title> <!-- título dinámico -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- Navbar (componente parcial) -->
  <%- include('partials/navbar') %>

  <!-- Contenido que cambia según la vista -->
  <main>
    <%- body %>
  </main>

  <!-- Footer (componente parcial) -->
  <%- include('partials/footer') %>
  
<script src="/validaciones.js"></script>
</body>
</html>