<!--NODO_C3-SP5_TP1/src/views/partials/footer.ejs-->
<footer>
    <p>&copy; Maria Eugenia Luna - 2025 - <a href="https://github.com/eugenialuna01/curso_full-Stack_sprint5_tp_final.git">Repositorio github</a> </p>
</footer>