<nav>
  <div class="navbar">
    <a href="/">
      <img src="/images/sol.png" alt="Logo" class="logo">
</a>
    <ul>
      <li>
        <a href="/">
          <img src="/icons/home.svg" alt="Inicio">
          Inicio
        </a>
      </li>
      <li>
        <a href="/api/paises">
          <img src="/images/america.svg" alt="Lista de Paises">
          Lista de Países
        </a>
      </li>
      <li>
        <a href="/api/paises/agregar">
          <img src="/images/agregar.png" alt="Crear Paises">
          Crear Países
        </a>
      </li>
      <li>
        <a href="/about">
          <img src="/icons/info.svg" alt="Acerca de">
          Acerca de
        </a>
      </li>
    </ul>
  </div>
</nav>